body{ background-color: #EBF2FA;
      margin: 0%;
}



header { background-color: #064789;
    height: 70px;
    margin: 0%;
    margin-top: -20px;
    width: auto;
          
}

#logo {
    
    position: absolute;
    height: 70px;
    width: auto;
    margin-left: 20px;
    
    
}

#menu {
    text-align: center;
    position: relative;
    
}
    
#menu ul li { display: inline; 
    list-style-type: none;
}

#menu ul li a { 
    margin-top: 20px;
    font-family: Arial;
    font-size: large;
    color: #EBF2FA;
    padding: 2px 30px; 
    display: inline-block; /* visual do link */ 
    text-decoration: none;
    
    
}

#menu ul li a:hover {
    background-color:#EBF2FA;
    color: #064789;
    border-radius: 50px;
    
}







.texto-pg-inicio {
   position:relative;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 100px;
   
   
   
}

.texto-pg-inicio h1 {
    background-color: #064789;
    color: #EBF2FA;
    font-family: Arial;
    width: 800px;
    height: 100px;
    text-align: center;
    border-radius: 80px;
    display: flex;
   align-items: center;
   justify-content: center;
   
    
    
}

.descricao-pg {
    position:relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
    
    
}

.icone {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    padding: 60px;
    font-family:arial;
    border-radius: 20%;
    border: 2px solid #064789;

}


.icone h3 {
    position: absolute;
    bottom: 0;
}


.icone:not(:last-child){
    margin-right: 30px;
}


#corpo{
    margin: 0 auto;
    overflow: hidden;
    height: 800px;
    width: 1400px;
   


}
.menu-fotos {
    height: 800px;
    width: 500%;
    display: flex;
    
    
    
    
    
}

.menu-fotos input {
    display: none;
}   


.foto {
    border-bottom: blur 2px white;
    width: 25%;
   position: relative;
   transition: 1s;
    

    
        
}

.foto img {
    width: 1400px;
    
     
 }



    

.manual-navegation {

    width: 700px;  
    display: flex;
    position: absolute;
    justify-content: center;
    align-self: self-end;
     margin-left: 320px;
    

}

.manual-btn{
    border: 2px solid #064789 ;
    padding: 6px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0,5;
}
.manual-btn:hover{
    background-color: #064789;

}

.manual-btn:not(:last-child){
    margin-right: 30px;
}


#radio1:checked ~.first{
    margin-left:0;
    

}

#radio2:checked ~.first{
    margin-left: -25%;
    

}
#radio3:checked ~.first{
    margin-left: -50%;
    

}
#radio4:checked ~.first{
    margin-left: -75%;
    

}
#radio5:checked ~.first{
    margin-left: -100%;
    

}

.navegation-foto div{
    border: 2px solid #064789 ;
    padding: 6px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0,5;

}

.navegation-foto {
    width: 700px;  
    display: flex;
    position: absolute;
    justify-content: center;
    align-self: self-end;
     margin-left: 320px;

}

.navegation-foto div:not(:last-child){
    margin-right: 30px;
}


#radio1:checked ~.navegation-foto .botao-foto1 {
   background-color: #064789;
    
}

#radio2:checked ~.navegation-foto .botao-foto2 {
    background-color: #064789;
     
 }

 #radio3:checked ~.navegation-foto .botao-foto3 {
    background-color: #064789;
     
 }

 #radio4:checked ~.navegation-foto .botao-foto4 {
    background-color: #064789;
     
 }

 #radio5:checked ~.navegation-foto .botao-foto5 {
    background-color: #064789;
     
 }





.sobre{
    position:relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1200px;
    margin: auto;
    margin-top: 300px;
    

}
.sobre1 h3 {
    text-align: center;
}

.sobre1 {
    text-align: center  ;
    height:500px;
    width: 500px;
    margin: auto;
    position: relative;
    border-radius: 20px;
    font-family: Arial;
    border: 2px solid #064789;
}

.sobre1 p {
    margin-left: 20px;
    margin-right: 20px;
    
}

.sobre1:not(:last-child){
    margin-right:50px;
}

footer{
    position:relative;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 700px;
    width: 400px;
    height: 200px;
    
    
    
    
    
}

.imagensfooter {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    
    height: 50px;
    
}


.footerimg {
    position: relative;
    display: flex;
    padding: 5px;
   
   

}

footer h3 {
    position:relative;
    margin-top: 50px;

    

}



