body{ background-color: #EBF2FA;
      margin: 0%;
}



header { background-color: #064789;
    height: 70px;
    margin: 0%;
    margin-top: -20px;
    width: auto;
          
}

#logo {
    
    position: absolute;
    height: 70px;
    width: auto;
    margin-left: 20px;
    
    
}

#menu {
    text-align: center;
    position: relative;
    
}
    
#menu ul li { display: inline; 
    list-style-type: none;
}

#menu ul li a { 
    margin-top: 20px;
    font-family: Arial;
    font-size: large;
    color: #EBF2FA;
    padding: 2px 30px; 
    display: inline-block; /* visual do link */ 
    text-decoration: none;
    
    
}

#menu ul li a:hover {
    background-color:#EBF2FA;
    color: #064789;
    border-radius: 50px;
    
}







.texto-pg-inicio {
   position:relative;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 100px;
   
   
   
}

.texto-pg-inicio h1 {
    background-color: #064789;
    color: #EBF2FA;
    font-family: Arial;
    width: 800px;
    height: 100px;
    text-align: center;
    border-radius: 80px;
    display: flex;
   align-items: center;
   justify-content: center;
   
    
    
}

.descricao-pg {
    position:relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    
    
}

.icone {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    padding: 60px;
    font-family:arial;
    border-radius: 20%;
    border: 2px solid #064789;

}


.icone h3 {
    position: absolute;
    bottom: 0;
}


.icone:not(:last-child){
    margin-right: 30px;
}



.menu-fotos {
    margin: auto;
    overflow: hidden;
    height: 800px;
    width: 1400px;
    display:flex;
    position: relative;
    object-fit: cover;
    
    
    
    
    
}

.menu-fotos input {
    display: none;
}


.foto img{
    object-fit: cover;
    background: cover;
    height: 800px;
    width: 1400px;
    

    
        
}



    

.manual-navegation {

    width: 700px;  
    display: flex;
    position: absolute;
    justify-content: center;
    margin-left: 23%;
    margin-top: 50%;
    

}

.manual-btn{
    border: 2px solid #064789 ;
    padding: 6px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:hover{
    background-color: #064789;

}

.manual-btn:not(:last-child){
    margin-right: 30px;
}


.sobre{
    position:relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1200px;
    margin: auto;
    margin-top: 300px;
    

}
.sobre1 h3 {
    text-align: center;
}

.sobre1 {
    text-align: center  ;
    height:500px;
    width: 500px;
    margin: auto;
    position: relative;
    border-radius: 20px;
    font-family: Arial;
    border: 2px solid #064789;
}

.sobre1 p {
    margin-left: 20px;
    margin-right: 20px;
    
}

.sobre1:not(:last-child){
    margin-right:50px;
}

footer{
    position:relative;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 700px;
    width: 400px;
    height: 200px;
    
    
    
    
    
}

.imagensfooter {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    
    height: 50px;
    
}


.footerimg {
    position: relative;
    display: flex;
    padding: 5px;
   
   

}

footer h3 {
    position:relative;
    margin-top: 50px;

    

}



