body {
    background-color: #064789; /* Fundo preto */
    color: white;
    font-family: Arial;
    display: flex;
   font-size: medium;
    height: 100vh;
    margin: 0;
}

header { background-color: #064789;
    height: 70px;
    margin: auto;
    width: 100%;
    position: absolute;
          
}

#logo {
    margin: auto;
    position: absolute;
    height: 70px;
    width: auto;
    margin-left: 20px;
    
    
}

#menu {
    margin: auto;
    text-align: center;
    position: relative;
    
}
    
#menu ul li { display: inline; 
    list-style-type: none;
}

#menu ul li a { 
    margin-top: 20px;
    font-family: Arial;
    font-size: large;
    color: #EBF2FA;
    padding: 2px 30px; 
    display: inline-block; /* visual do link */ 
    text-decoration: none;
    
    
}

#menu ul li a:hover {
    background-color:#EBF2FA;
    color: #064789;
    border-radius: 50px;
    
}

.corpo {
    margin: auto;
    align-items: center;
    justify-content: center;

}

#container {
   margin: auto;
    background-color: #EBF2FA; /* Roxo escuro */
    color: #064789;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    width: 300px;
    text-align: center;
    position: relative;
    
}

h2 {
    margin-bottom: 20px;
    
}
h3{
    
    font-size: medium;
}

p {
    font-size: smaller;

}

label {
    display: block;
    margin-top: 10px;
    text-align: left;
}



input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
select {    
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    border: none;
    border-bottom: 2px solid #064789;
    background-color: transparent;
    color: #064789;
    transition: border-bottom 0.2s;
    border-radius: 22px;
    font-size: medium;
    
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
select:focus {
    border-bottom: 2px solid #EBF2FA; /* Roxo escuro */
    outline: none;
    color: #064789;
}

input[type="submit"] {
    width: 100%;
    background-color: #064789; /* Roxo escuro */
    color: #EBF2FA; 
    border: none;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 20px;
    
}


input[type="submit"]:hover {
    background-color: yellow; /* Roxo mais claro */
    color: #064789;
}

